/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb40 { margin-bottom: 40px; }

.mt40 { margin-top: 40px; }

body { color: #32424a; }
h1, h2 {
    font-family: 'Trocchi', serif;
    margin: 0px;
}
h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
    font-style: italic;
    margin: 0px;
}
h1 {
    font-size: 59px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 30px;
}
p {
    font-family: 'PT Serif', serif;
    /*font-family: 'Arvo', serif;*/
}
img {
    width: 100%;
}


.highlight {
    color: #fac125;
}
.x-light-type {
    color: #9fbda9;
}
.light-type {
    color: #5b806f;
}
.dark-type {
    color: #30424a;
}
.the {
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    font-style: normal;
}
.bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section {
    padding: 30px;
    background-color: #303E47;
}
.section--lg-padding {
    padding: 60px 30px;
}

.profile-img {
    width: 100%;
}

#header {
    background: url(../img/01_marquee_trav_hugging_sofi.jpg) no-repeat bottom center #303E47;
    background-size: 1200px;
}
#header .logo {
    width: 150px;
    margin-bottom: 275px;
}
#header h1 {
    color: #abc7b3;
    letter-spacing: 10px;
    margin-bottom: 100px;
}

#intro {
    background: #afc9b7;
}
#intro .intro_content {
    margin: 30px 0px 0px 5px;
}
#intro .intro_bride {
    text-align: right;
}
#intro .intro_bride .intro_content {
    margin: 30px 5px 0px 0px;
}

#date {
    background: url(../img/04_general_info_vineyard.jpg)  no-repeat bottom center #557d80;
    background-size: 1600px;
    color: #afc9b7;
}

#date h3 {
    font-size: 62px;
}
#date h6 {
    font-size: 22px;
    margin-bottom: 250px;
}


#details {
    background-color: #5b806f;
}
#details img {
    width: 300px;
    margin-bottom: 40px;
}

#party-title {
    background: url(../img/06_bridal_party_header.jpg) center center fixed;
    /*background-image: url('../img/06_bridal_party_header.jpg');*/
    /*background-size: 100%;*/
    /*background-position: center;*/
    color: #afc9b7;
}
/*#party-title h3 {*/
    /*font-size: 42px;*/
/*}*/
/*#party-title h1 {*/
    /*font-size: 66px;*/
/*}*/

#bridal-party .man-of-honor, #groom-party .best-maid {
    margin: 40px 0px;
}
#bridal-party .bridesmaids, #groom-party .groomsmen {
    margin-top: 40px;
}
#bridal-party .man-of-honor img, #groom-party .best-maid img {
    display: inline-block;
    width: 300px;
}
#bridal-party .bridesmaids img, #groom-party .groomsmen img {
    width: 200px;
    display: inline-block;
}

#bridal-party {
    background-color: #afc9b7;
}
#bridal-party .man-of-honor--text{
    margin-top: 60px;
    padding-left: 40px;
}
#groom-party .best-maid--text {
    margin-top: 60px;
    padding-right: 40px;
}

#groom-party {
    color: #afccb6;
}
#groom-party h4 {
    color: #fac123;
}

#honeyfund {
    background-color: #afc9b7;
}
#honeyfund img {
    width: 350px;
    margin-bottom: 30px;
}
#honeyfund h2 {
    color: #2e3d45;
}
#honeyfund a {
    font-style: italic;
}

#info {
    background-color: #5b806f;
    background: url(../img/10_did_you_know_monogram.png) no-repeat center center fixed;
    color: #92b09e;
    padding: 80px 30px;
}

#to-do {
    background-color: #6e9180;
    color: #2e3c45;
}
#to-do h2, #to-do h4 {
    color: #a3bfac;
}

#fin {
    color: #abc7b3;
}
#fin img{
    width: 500px;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
